body, html { height:100%; padding:0; margin:0;}

div#parent{
    width: 100%;
    overflow: hidden;
}

div#parent div#editor{
    float: left;
    width: 25%;
    height: 100%;
}

div#parent div#editor textarea:focus {
    border-right: 3px solid steelblue;
    outline: none;
}

div#parent div#editor textarea:focus + div button#randomize {
    border-top: 3px solid steelblue;
    border-left: 3px solid steelblue;
    border-bottom: none;
}

div#parent div#editor textarea:focus ~ div input#parser {
    border-top: 3px solid steelblue;
    border-width: 2px;
}

div#parent div#editor textarea{
    font: 16px sans-serif;
    width: 100%;
    height: 86%;
    border-right: 2px solid black;
    border-bottom: none;
    resize: none;
}

div#parent div#editor button#randomize{
    border-top-top: #ccc;
    background-color: #ccc;
    height:4%;
    float:right;
    right:5%;
    border-right: 2px solid black;
}



div#parent div#editor input#parser {
    font-size: 16px;
    border: 2px solid black;
    border-bottom: none;
    border-left: none;
    width: 100%;
    height:10%;
}

div#parent div#editor input#parser:focus{
    border-top: 2px solid steelblue;
    border-right: 2px solid steelblue;
    outline:none;
}

/* 

Graph window

*/


div#parent #graphs{
    float: left;
    width: 74%;
    height: 100%;
}

div#parent #graphs div#syntaxTree {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #000;
}

div#parent div#graphs div#syntaxTree div#changeTree {
    position: absolute;
    top: 5;
    right: 5;
    display: none;
}

div#parent div#graphs div#syntaxTree div#changeTree button {
    border:none;
    background-color:white;
}

div#parent div#graphs div#syntaxTree div#changeTree button:hover {
    background-color:pink;
}


div#parent div#graphs div#syntaxTree div#changeTree button#left::before {
    position: relative;
    content: "";
    display: inline-block;
    /* By using an em scale, the arrows will size with the font */
    width: 0.4em;
    height: 0.4em;
    border-right: 0.2em solid black;
    border-top: 0.2em solid black;
    transform: rotate(220deg);
    margin-left: 0.5em;
}



div#parent div#graphs div#syntaxTree div#changeTree button#right::after {
    position: relative;
    content: "";
    display: inline-block;
    /* By using an em scale, the arrows will size with the font */
    width: 0.4em;
    height: 0.4em;
    border-right: 0.2em solid black;
    border-top: 0.2em solid black;
    transform: rotate(45deg);
    margin-right: 0.5em;
}

div#parent div#graphs div#trace {
    width: 100%;
    height: 50%;
}

div#parent div#graphs div#trace div#options{
    position:absolute;
    display: none;
    bottom:5;
    right:5;
}


/* Graphs */


/* TraceTree */
.state {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.node {
    fill: white; 
    stroke-width: 2px;
}

.node text {
    fill: black;
    font: 14x sans-serif;
}

div#syntaxTree .link {
    stroke: black;
    stroke-width: 1.5px;
}

.link path{
  stroke: black;
  stroke-width: 1px;
}

.link text:hover {
    stroke:red;
}

.link text:hover + path {
    stroke:red;
}

.link text {
    font: 12px sans-serif;
    cursor: pointer;
    
}

